/*revan*/
* {
	margin: 0;
	padding: 0;

} 

	body{
		background-color:#0f0f0f;
		color:black;
	}
	 background-color: #333;
}

.navbar {
  overflow: hidden;
  background-color: #333;
 margin-top:  7px;
 padding-left: 50px;
}

.navbar a {
  float: left;
  font-size: 18px; /* font */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top:  7px; /*margin */
  margin-left: 25px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;  /*  font */
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-top:  7px; /*margin */
    margin-left: 25px;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #dd691a;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 17.3%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.head{
	width: 100%;
	height: 70px;
	background-color: #050505;}

.head img {
	margin:1% .5% 0% 1%;
	float:left;
}

form.exa input[type=text] {
	margin-top: 1.5%;
	margin-left: 1.5%;
  padding: 1%; /* padding input searsh button */
  font-size: 17px;
  border: 1px solid #0d0d0d;
  float: left;
  width: 15%;
  height: 0px;
  background: #f1f1f1;
  margin-left: 50px;
}

form.exa button {
	margin-top: 1.5%;
  float: left;
  width: 3%;
  height: 21pt;
  font-size: 17px;
  padding: 1px;
  border: 1px solid  #0d0d0d;
  background: #dd691a;
  color: white;
  border-left: none;
  cursor: pointer;
}

form.exa button:hover {
  background: #ff7417;
}

#icons{
	position: absolute;
	width:20%;
	top:4%;
	left:83%;
}
#icons a  img{
	position: relative;
	right:0%;
	top: 1%;
 }
	
	
.main{
	background-color:white;
	border:1px solid white;
	margin:50px  80px 0px 80px;
	border-radius: 5px;
}
.goals{
	position: relative;
	top:20%;
}

.goals h2 {
	margin:300px 80px 0px 0px;
	text-align:center;
	color: #dd691a;
}
.goals p {
	margin:0px 80px 0px 0px;
	text-align:center;
}
.goals a img{
position: relative;
left:14%;
margin-right:47px;
margin-left: 47px;
z-index: 0;
}
.goals button{
	margin:30px 0px 0px 475px;
	background-color: #dd691a;
	border-radius: 5px;
	padding:6px; 
	border-color: white;
}
.goals button a{	
	text-decoration:none;
	color: white;
}


.articles h2{
	margin-left: 47px;
	color: #dd691a;
}
.figure {
	display:inherit;

	float:left;
	width: 39%;
	margin:10px 47px;
	border-radius: 5px;

}

.figure3{
	display:inherit;
	position: absolute;
	top:147.2%;
	right:38.5%;
	border-radius: 5px;
}
.articles a {
	text-decoration: none;
	color: black;

}
.figure:hover{
	width:77%;
-webkit-box-shadow: 0px 0px 3px 5px #e6e6e6;
-moz-box-shadow: 0px 0px 3px 5px #e6e6e6;
box-shadow: 0px 0px 3px 5px #e6e6e6; 
}

.figure2{
	display:inherit;
	position: absolute;
	width: 24%;
	right:10.6%;
	top: 147.2%;
	border-radius: 5px;
}
.figure2:hover {
	-webkit-box-shadow: 0px 0px 3px 5px #e6e6e6;
-moz-box-shadow: 0px 0px 3px 5px #e6e6e6;
box-shadow: 0px 0px 3px 5px #e6e6e6; 
}
.figure3:hover {
	-webkit-box-shadow: 0px 0px 3px 5px #e6e6e6;
-moz-box-shadow: 0px 0px 3px 5px #e6e6e6;
box-shadow: 0px 0px 3px 5px #e6e6e6; 
}



figcaption {
	width:310px;
}
.articles {
	display: table;
}









/*

body{margin-right: 300px;
margin-left: 300px;
padding-left: 80px;}

.pge{width: 350;
background: gray;
margin-top: 50px;
padding:5px;
}

 h2{text-align: center;

 	background: white;
 	padding: 10px;
 	border-radius: 10px;
 }

 input{padding: 10px;
 	margin-top: 5px;
    border-radius: 5px;
    border: none;
 }
#stl{text-align: center;
 	background: white;
 	padding: 10px;
 	border-radius: 10px;
 	width: 95%;
 }
	*/


	footer div ul li ul li a {
	text-decoration: none;
	 list-style:none;
	 color: white;
	
}
 footer ul li ul li{
	display : block;
	padding: 0px 10px 0px 10px;
	color: black;
	
}
footer ul li{
	display : inline;
	

}

div p {
	text-align: center;
	
	padding: 2px 10px 2px 10px;
	
}


.cycle-slideshow img {

	max-width: 100%;
	width: 84%;
	height: 80%;
	margin-top: 5.5%;
    border-radius: 5px;
}
/*CAUTION*/

.cycle-slideshow{
	width:100%; /*height & width*/
     height:480%;
	max-width:100%;
	display: block;
    border: 1em;
    overflow: hidden;

    /*margin*/
    margin-top: 20px;
    margin-right:10%;
    margin-left:7%;
    margin-bottom: 5%;

    
}
.cycle-prev ,.cycle-next {
	font-size: 350%;
	color:white ;
	display: block;
	position: absolute;
	top: 45%;
	z-index: 995;
	cursor: pointer;

}
.cycle-prev {left: 2% }
.cycle-next {right:16%}

.cycle-pager{
	width: 100%;
	position: absolute;
	text-align: center;
	z-index: 995;
	bottom: 20px;

}

/*Plans page*/
#plans{
	background-color:white;
	border:1px solid white;
	margin:50px  80px 0px 80px;
	border-radius: 5px;
	width:60%;
	position: relative;
	top;
	left:15%;
}
.list h3{
		text-align: center;
		margin:20px;
		color:  #dd691a;
}
.list ul li{
	list-style: none;
	text-align: center;
	margin: 0px 10px 0px 10px;
	border:1pt solid white;
	border-top-color:black;
	padding: 12px 10px 10px 10px;
	width: 89.5%;
	position: relative;
	right:5%;
}

.list ul li:hover{
			background-color: #dd691a;
	padding: 7px 10px 20px;

}
.list ul li a{
	text-decoration: none;
	color: black;

}
.list ul li a:hover{

}
.list {
	width:27%;
	position: absolute;
	right:105.5%;
	border:1pt solid;
	border-radius: 3px;
	background-color: white;
	margin-left: 20px;
}
.list strong{
	color: #383838;
}
#plans h1{
	text-align: center;
	margin:18px;
	color:  #dd691a;
}

#plans h2{
	margin-left: 8px;
	color: #383838;
}
#plans button{

		background-color: #dd691a;
	border-radius: 5px;
	padding:3px; 
	border-color: white;
	color: white;
}
.duaration{
	text-align: left;
	width:34%;

}
.details{
	text-align: left;
position: relative;
left: 55%;
bottom: 140px;
height: 20px;


}
#plang h3{
	color: #383838;
}
#plang2 h3{
	color: #383838;
}
#plang {
	list-style: none;
	margin-left: 20px;

}
#plang img{
	border-radius: 50%;
}
#plang p{
	text-align: left;
	position: relative;
	width: 60%;
	left:30%;
	bottom: 160px;
	height: 9px;
}
#plang button a{
	text-decoration: none;
	color: white;
}
#plang button{
	position: relative;
	left: 31%;
	bottom: 45px;
		background-color: #dd691a;
	border-radius: 5px;
	padding:6px; 
	border-color: white;
}
.duaration2{
	text-align: left;
	width:40%;

}
.details2{
	text-align: left;
	position: relative;
	left:55%;
	bottom: 95px;
	width:43%;
	height: 20px;
}
#plang2 {
	list-style: none;
	margin-left: 20px;

}
#plang2 img{
	border-radius: 50%;
}

#plang2 p{
	position: relative;
	width:470px;
	text-align: left;
	bottom: 180px;
	left: 30%;
	height: 15px;

}
#plang2 button a{
	text-decoration: none;
	color: white;
}
#plang2 button{
	position: relative;
	left: 31%;
	bottom: 45px;
		background-color: #dd691a;
	border-radius: 5px;
	padding:6px; 
	border-color: white;
}

#sample, #sample2, #calender, #calender2{
	display: none;
}
h2 ul li{
	list-style: none;
	margin-left: 7px;

}


#singdiv{background-color:#ddd;
	border:1px solid white;
	margin:50px  80px 0px 83px;
	border-radius: 3px;
	width:35%;
	position: relative;
	top;
	left:25%;}
 
.stl{text-align: center;
 	background: white;
 	padding: 3%;
 	border-radius: 10%;
 	width: 36%;
 }		
 
	
 .sing-h2{text-align: center;
 	     background: white;
 	    padding: 3%;
 	    border-radius: 5%;
 	    color: #dd691a
 }
.sing-inp{padding: 2%;
 	      margin-top: 4%;
          border-radius: 5px;
          border: none;}
/*start:arms*/
.muscle{

	background-color:white;
	border:1px solid white;
	margin:46px  74px 23px 74px;
	padding: 0.5% 1% 0.5% 1%;
	border-radius: 5px;
	width:65%;
	position: relative;
	left:15%;
}

.muscle ol li {
	padding-left: 1%;




}
.muscle ol {
	padding-left: 1%;
}
.muscle img, video {
	border-radius:3%;
}
.muscle h1 {
	font-family:Broadway;
	color:#dd691a ; 
	margin: 1% 1% 1% 2%;
}
.muscle h2 {
	font-family:Bodoni MT Black;
	color:#383838 ; 
	margin: 1% 1% 1% 2%;
}
.muscle h3 {
	font-family:Britannic Bold;
	color:#dd691a ; 
	margin: 1% 1% 1% 2%;
}
.muscle h4 {
	font-family:Brush Script MT;
	color:#dd691a ; 
	margin: 1% 1% 1% 2%;
}
#p1-1 {
         text-align: left;    
		position:absolute;
		top:4.8%;
		left:50%;

  
}
#p1-2{
	text-align: left;
	position: absolute;
	top:12%;
	left:50%;
}
#p1-3{
	text-align: left;
	position: absolute;
	top:21.9%;
	left:50%;
}
#p1-4{
	text-align: left;
	position: absolute;
	top:33.7%;
	left:50%;
}
#p1-5{
	text-align: left;
	position: absolute;
	top:41.8%;
	left:50%;
}
#p1-6{
	text-align: left;
	position: absolute;
	top:53.9%;
	left:50%;
}
#p1-7{
	text-align: left;
	position: absolute;
	top:60.7%;
	left:50%;
}
#p1-8{
	text-align: left;
	position: absolute;
	top:68%;
	left:50%;
}
#p1-9{
	text-align: left;
	position: absolute;
	top:75%;
	left:50%;
}

#p1-11{
	text-align: left;
	position: absolute;
	top:86.7%;
	left:50%;
}
#p1-12{
	text-align: left;
	position: absolute;
	top:93.4%;
	left:50%;
}
#p2-1{
	text-align: left;    
		position:absolute;
		top:3%;
		left:50%;


}
#p2-2{text-align: left;
	position: absolute;
	top:15.5%;
	left:50%;

}
#p2-3{text-align: left;
	position: absolute;
	top:28.6%;
	left:50%;

}
#p2-4{
	text-align: left;
	position: absolute;
	top:42%;
	left:50%;
}
#p2-5{
text-align: left;
	position: absolute;
	top:55%;
	left:50%;
}
#p2-6{
	text-align: left;
	position: absolute;
	top:76.5%;
	left:50%;
}
#p2-7{
text-align: left;
	position: absolute;
	top:89%;
	left:50%;
}
 #p4-1{
 	text-align: left;
	position: absolute;
	top:23.2%;
	left:50%;
 }
 #p4-2 {
 	text-align: left;
	position: absolute;
	top:48%;
	left:50%;
 }
#p4-3{
	text-align: left;
	position: absolute;
	top:74.4%;
	left:50%;
}
  #p3-1{
               position: absolute;
             top:7.7%;
               left: 50%;
               text-align:left;
           }
           
           #p3-2{
               position: absolute;
             top:19.4%;
               left: 50%;
               text-align:left;
           }
            #p3-3{
               position: absolute;
             top:30%;
               left: 50%;
               text-align:left;
           }
           #p3-4{
               position: absolute;
             top:41%;
               left: 50%;
               text-align:left;
           }
           
           #p3-5{
               position: absolute;
             top:51%;
              left: 50%;

               text-align:left;
           }
           
           #p3-6{
               position: absolute;
             top:60.9%;
              left: 50%;

               text-align:left;
           }
           
           #p3-7{
               position: absolute;
             top:79.4%;
              left: 50%;

               text-align:left;
           }
    #p3-8{
               text-align:left;

       position: absolute;
             top:89%;
              left: 50%;

        
        
    }


/*Articles start */
#Articles{
	background-color:white;
	border:1px solid white;
	margin:50px  80px 0px 80px;
	border-radius: 5px;
	width:70%;
	position: relative;
	top;
	left:15%;

}
#footer {
 bottom: 0px;
 width: 100%;
 background-color:#050505;
 margin-top:35px;
 position: relative;
 color: white;
 text-align: center;
 height: 180px;
}
#center{

 position: absolute;
right: 45%;
top: 30px;
 width: 100px;
 height: 100px;
}
#left{
 top: 30px;
 position: absolute;
left: 300px;
 width: 100px;
 height: 100px;
} 
#right{
 top: 30px;
position: absolute;
 right: 260px;
 height: 70px;
 width: 100px;
}
#left ul li a , #center ul li a{
 text-decoration: none;

 color: white;
}
.cp{
left:0;
}
#left ul li , #center ul li {
 list-style: none;
}
#left h4 a{
	text-decoration: none;
	color:white;
}
/* the end of the footer*/

/*nutrition page but w the list class*/
#nutrition{
 background-color:white;
 border:1px solid white;
 margin:50px 80px 0px 80px;
 padding: 10px 20px 10px 20px; 
 border-radius: 5px;
 width:60%;
 position: relative;

left:16%;
}
#nutrition h1{
 text-align: center;
 margin:18px;
 color: #dd691a;
}
#nutrition h2{
 margin-top: 8px;
 color: #383838;
}
#nutrition ol , #nutrition ul{
 list-style-position: inside;
}
#nutrition strong{
	color: #383838;
}
.linkk{

text-decoration: underline;
color:red;
}

#aboutUs{
	background-color:white;
	border:1px solid white;
	margin:50px  80px 0px 80px;
	border-radius: 5px;
	width:60%;
	position: relative;
	top;
	left:13%;
	padding: 50px 20px 100px 20px;
}
#aboutUs p{
	text-align: left;
	position: relative;
	right: 10px;

}
#aboutUs img{
	background-color: black;
	position: relative;
	left:5%;
	padding-bottom: 18px;
	padding-top: 18px;
	border-radius: 5px;
	margin-bottom: 18px;
}
.p1{
	position: absolute;
	right: 80%;
}

.muscleAnatomy{
	position: relative;
	left: 13.5%;
	margin-top: 20px;
	margin-bottom: 10px;
}
.nav_bar{
  
    background-color: #0D0D0D;
    height: 7vw;
    margin-top: 1%
  
}

.nav_bar .logo{
    
    width: 25%;
    overflow: hidden;
    float: left
}

.nav_bar .logo img{

    width: 70%;
    margin: 4% 6px
    
}


.nav_bar .notif{
    
    float: right;
    width: 12%;
    margin-top: 2%
    
}

.nav_bar .notif .notif_signs{
    
    float: left
}

.nav_bar .notif .notif_signs i{
    
    color: #fff;
    font-size: 1.6vw;
    opacity: .9;
    margin: 0 4px;
    cursor: pointer
    
}





.img-responsive{
	
	max-width: 94%;
	display: block;
	margin: auto
	
}

.content b{
	
	text-align: center;
	display: block
	
	
}

.left_side{
	
	width: 27%;
	margin-top: -10%;
	margin-left: 40%;
}























